.git
.gitignore

node_modules
backend/node_modules
frontend/node_modules

.env
.env.*
*.pem
*.key

infra/certbot/conf
infra/certbot/www
infra/grafana/dashboards
infra/grafana/provisioning
infra/prometheus
infra/promtail
infra/loki
infra/alertmanager

certbot
evidence
*.zip
npm-debug.log
.DS_Store
